button {
  cursor: pointer;
  margin-right: 10px;
}

.grid-container > div {
  display: flex;
}

.grid-container > div > div {
  border: 1px solid white;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-color: gray;
  font-size: 8px;
}

.options {
  display: flex;
  align-items: center;
}
.options > div {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
